[Desktop Entry]
Encoding=UTF-8
Name=Terminal
GenericName=X Terminal Emulator
Exec=x-terminal-emulator
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator
Icon=utilities-terminal
Name[af]=Thais
Name[am]=ታይኛ
Name[ar]=طرفية
Name[as]=টাৰ্মিনেল
Name[az]=Tayca
Name[be]=Тамільская
Name[be@latin]=Terminał
Name[bg]=Терминал
Name[bn_IN]=টার্মিন্যাল
Name[bs]=Tajlandski
Name[ca]=Tàmil
Name[ca@valencia]=Tàmil
Name[cs]=Terminál
Name[cy]=Tamil
Name[da]=Terminal
Name[de]=Terminal
Name[dz]=ཏ་མིལ།
Name[el]=Τερματικό
Name[en_CA]=Tamil
Name[en_GB]=Tamil
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminala
Name[fa]=تامیلی
Name[fi]=Pääteikkuna
Name[fr]=Terminal
Name[gl]=Terminal
Name[gu]=ટર્મિનલ
Name[he]=מסוף
Name[hu]=Terminál
Name[id]=Terminal
Name[is]=Taílenska
Name[it]=Terminale
Name[ja]=端末
Name[ka]=თამილური
Name[kn]=ಟರ್ಮಿನಲ್
Name[ku]=Tamîl
Name[lv]=Terminālis
Name[mg]=Teny Tamil
Name[mi]=Ngā Kōnae
Name[ml]=ടെര്‍മിനല്‍
Name[mn]=Тайланд
Name[mr]=टर्मिनल
Name[ms]=Siam
Name[nb]=Terminal
Name[nl]=Terminal
Name[nn]=Tamil
Name[oc]=Terminal
Name[or]=ଟର୍ମିନାଲ
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[rw]=Tamili
Name[sl]=Terminal
Name[sr]=тамил
Name[sr@latin]=tamil
Name[sv]=Terminal
Name[ta]=முடிவு
Name[te]=టెర్మినల్
Name[th]=ภาษาทมิฬ
Name[tk]=Taýça
Name[tr]=Tamil
Name[vi]=Dòng lệnh
Name[wa]=Tamoul
Name[xh]=Um-Tamil
Name[zh_CN]=终端
