[Desktop Entry]
Encoding=UTF-8
Name=Web Browser
GenericName=X Web Browser
Exec=x-www-browser
Terminal=false
Type=Application
Categories=WebBrowser;Network
Icon=applications-internet
Name[am]=አዲስ መቃኛ
Name[an]=Navegador web
Name[ar]=متصفّح وِب
Name[as]=ৱেব চৰক
Name[ast]=Restolador Web
Name[az]=Veb Səyyahı
Name[be]=Гартач сеціва
Name[be@latin]=Web-hartač
Name[bg]=Интернет браузър
Name[bn]=ওয়েব ব্রাউজার
Name[bn_IN]=ওয়েব ব্রাউজার
Name[br]=Furcher Web
Name[bs]=Web preglednik
Name[ca]=Navegador web
Name[ca@valencia]=Navegador web
Name[cs]=Prohlížeč WWW
Name[cy]=Porwr Gwe
Name[da]=Internetbrowser
Name[de]=Webbrowser
Name[dz]=ཝེབ་ བརའུ་ཟར།
Name[el]=Περιηγητής ιστοσελίδων
Name[en@shaw]=𐑢𐑧𐑚 𐑚𐑮𐑬𐑟𐑼
Name[en_CA]=Web Browser
Name[en_GB]=Web Browser
Name[eo]=Retumilo
Name[es]=Navegador web
Name[et]=Veebisirvija
Name[eu]=Web arakatzailea
Name[fa]=مرورگر وب
Name[fi]=WWW-selain
Name[fr]=Navigateur Web
Name[ga]=Brabhsálaí Gréasáin
Name[gl]=Navegador web
Name[gu]=વેબ બ્રાઉઝર
Name[gv]=Jeeagheyder Eddyr-voggyl
Name[he]=דפדפן אינטרנט
Name[hi]=वेब ब्राउज़र
Name[hr]=Internet preglednik
Name[hu]=Webböngésző
Name[hy]=Զննիչ
Name[id]=Browser Web
Name[ig]=Omenchọgharị Wéèbụ̀
Name[it]=Browser web
Name[ja]=ウェブブラウザ
Name[ka]=ვებ ბრაუზერი
Name[kn]=ಜಾಲ ವೀಕ್ಷಕ
Name[ko]=웹 브라우저
Name[ku]=Geroka Torê
Name[li]=Wèb Browser
Name[lt]=Žiniatinklio naršyklė
Name[lv]=Tīmekļa pārlūks
Name[mai]=वेब ब्राउज़र
Name[mg]=Mpitety tranonkala
Name[mk]=Веб прелистувач
Name[ml]=വെബ്ബ് ബ്രൌസര്‍
Name[mn]=Вэб хөтөч
Name[mr]=वेब ब्राउझर
Name[ms]=Pelungsur Web
Name[nb]=Nettleser
Name[nds]=Netkieker
Name[ne]=वेब ब्राउजर
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[oc]=Navigaire web
Name[or]=ଓ୍ବେବ ବ୍ରାଉଜର
Name[pa]=ਵੈਬ ਝਲਕਾਰਾ
Name[pl]=Przeglądarka WWW
Name[ps]=ګورت لټونی
Name[pt]=Navegador Web
Name[pt_BR]=Navegador da web
Name[ro]=Navigator Internet
Name[ru]=Веб-браузер
Name[sk]=WWW prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Browser web
Name[sr]=Интернет прегледник
Name[sr@Latn]=Internet preglednik
Name[sr@latin]=Internet preglednik
Name[sv]=Webbläsare
Name[ta]=இணைய உலாவி
Name[te]=మహాతల అన్వేషి
Name[th]=เว็บเบราว์เซอร์
Name[tk]=Web Ahtarçysy
Name[tr]=Web Tarayıcı
Name[ug]=توركۆرگۈ
Name[uk]=Навігатор тенет
Name[uz]=Veb brauzer
Name[uz@cyrillic]=Веб браузер
Name[vi]=Bộ duyệt Web
Name[wa]=Betchteu waibe
Name[yo]=Awáròyìn Wẹ́ẹ̀bù
Name[zh_CN]=网络浏览器
Name[zh_HK]=網頁瀏覽器
Name[zh_TW]=網頁瀏覽器
